<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <title>Login</title>
  <link rel="stylesheet" href="login style.css">
</head>
<body>
  <div class="card">
    <div class="form">
      <h3>Login</h3>
      <div class="input-field">
          <i class="fa fa-envelope"></i>
          <input type="text" placeholder="Enter your username">
      </div>
      <div class="input-field">
        <i class="fa fa-lock"></i>
        <input type="password" placeholder="Enter your password">
    </div>
    <a href="#">Forgot password?</a>
    <a href="Dashboard.html" class="buttons"><button>Login</button></a>
    <!-- <button href="Dashboard.html">Login</button> -->

    </div>
    <div class="image">
      <div class="overlay">

      </div>
    </div>
  </div>
</body>
</html>
